.patient-list-container {
    display: flex;
    flex-direction: column;
    box-shadow: 10px;
    overflow: scroll;
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

.patientItem {
    display: flex;
<<<<<<< HEAD
    background-color: white;
    /* border: 1px solid black; */
    margin: 2px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.4);
    pointer-events: auto;
}

.patientItem:hover {
    background-color: #61dafb;
    transform: scale(1);
}

=======
    border-radius: 25px;
    background-color: white;
    /* border: 1px solid black; */
    margin: 2%;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}
>>>>>>> cf09e04 (ui done for default pages)
.patientItem > h4 {
    margin-left: 15px;
}