.patient-list-container {
    display: flex;
    flex-direction: column;
    box-shadow: 10px;
    overflow: scroll;
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

.patientItem {
    display: flex;
    border-radius: 25px;
    background-color: white;
    /* border: 1px solid black; */
    margin: 2%;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}
.patientItem > h4 {
    margin-left: 15px;
}