.main-content-container {
    height: 94vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(184, 194, 194, 0.048);
}

.user-sidebar {
    width: 30%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    background-image: linear-gradient(white, #1e8fffbb);
    text-align: center;
}

.navigation-btns-user {
    display: flex;
    flex-direction: column;
    height: 50%;
    /* width: 100%; */
    margin: 0 auto;
    
}

button:hover {
    background-color: #1e8fffad;
    transform: scale(1.1);
    color: white;
    transition: 0.15s;
    font-weight: 700;
}

.nav-btns {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    background-color: transparent;
    border: none;
    width: 100%;
    /* border: none; */
}



button:active {
    background-color: #ffbf00;
}

.main-page-content {
    width: 70%;
    height: 100%;
    text-align: center;
}