.main-content-container {
    height: 94vh;
    display: flex;
    flex-direction: row;
}

.user-sidebar {
    width: 30%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-page-content {
    width: 70%;
    height: 100%;
    text-align: center;
}

.navigation-btns-user {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
    margin: 0 auto;
}
.nav-btns {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    width: fit-content;
    /* border: none; */
}

button:hover {
    color:#002ead;
    transition: 0.2s;
}

button:active {
    background-color: #ffbf00;
}