.order-item {
    display: flex;
    border: 1px solid black;
    margin: 2%;
}

.order-item > p {
    font-size: 15px;
} 

.fulfill-form-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: 0 auto;

}
.fulfill-btn {
    width: 130px;
    font-size: 15px;
    margin: 0 auto;
}

.order-list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.make-order-form-container {
    width: 50%;
    margin: auto;
    padding: 20px;
}

.make-order-form-container > .input-container Input{
    /* background-color: red; */
    text-align: center;
    font-size: 25px;
    margin: 5px;
    margin-top: 25px;
}

.make-order-form-container > Button{
    margin: 30px;
}

.make-order-form-container > Button:hover{
    color:black;
}

.add-med {
    width: 50%;
    margin: auto;
}

.add-med > form > div{
    margin-bottom: 16px;
}
  
.add-med > form > button{
    background-color: lightgrey;
    color: black;
    margin: 10px;  
}